@{
    ViewData["Title"] = "Patient Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .page-title {
        font-size: 20px;
        margin: 0;
    }
</style>
<!-- Content Header (Page header) -->
<div class="row mb-2">
    <div class="col-sm-6">
        <h4 class="page-title">Patient Information</h4>
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- /.content-header -->
<div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="card-title">Patient List</h3>
                    </div> 
                    <div class="col-md-6">
                        <div class="d-flex justify-content-end">
                            <button type="button" id="btnAdd" class="btn btn-primary float-right btn-sm"><i class="fa fa-plus"></i>&nbsp;  Add New</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblNCDInfo" class="table table-bordered table-bordered table-sm">
                        <thead>
                            <tr>
                                <th style="width:5%;">Sl</th>
                                <th style="width:20%;">Patient Name</th>
                                <th style="width:20%;">Disease Name</th>
                                <th style="width:20%;">Epilepsy</th>
                                <th style="width:20%;">NCDs</th>
                                <th style="width:20%;">Allergies</th>
                                <th style="width:20%;text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPatient">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Patient Create</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form id="frmPatient">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="row">
                                        <label for="patientName" style="text-align:right;" class="col-md-3">Patient Name<span>*</span></label>
                                        <div class="col-md-9">
                                            <input type="hidden" id="patientId" />
                                            <input id="patientName" name="patientName" placeholder="e.g Patient Name" class="form-control-sm form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="row">
                                        <label for="diseaseId" style="text-align:right;" class="col-md-3">Diseases Name<span>*</span></label>
                                        <div class="col-md-9">
                                            <select id="diseaseId" name="diseaseId" class="form-control-sm form-control select2Modal"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="row">
                                        <label for="epilepsy" style="text-align:right;" class="col-md-3">Epilepsy<span>*</span></label>
                                        <div class="col-md-9">
                                            <select id="epilepsy" name="epilepsy" class="form-control-sm form-control select2Modal"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="row">
                                        <label for="ncd" style="margin-top:75px;text-align:right;" class="col-md-3">Other NCDs</label>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-5" style="overflow:scroll;overflow-x:hidden;min-height:200px;border:1px solid;">
                                                    <ul style="list-style-type: none;">
                                                        <li>Asthma</li>
                                                        <li>Cancer</li>
                                                        <li>Disorder of ear</li>
                                                        <li>Disorder of eye</li>
                                                        <li>Mental illness</li>
                                                        <li>Oral Health Problem</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-2">
                                                    <button style="margin-top:63px;margin-bottom:4px;margin-left:20px; width:78px;" type="button" class="btn btn-success btn-sm" id="btnAdd">Add  &nbsp;<i class="fa fa-chevron-right" style="font-size:12px;"></i></button><br />
                                                    <button style="margin-left:20px;" type="button" class="btn btn-danger btn-sm" id="btnRemove"><i class="fa fa-chevron-left" style="font-size:12px;"></i>&nbsp; Remove</button>
                                                </div>
                                                <div class="col-md-5" style="overflow:scroll;overflow-x:hidden;min-height:200px;border:1px solid;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="row">
                                        <label for="allergies" style="margin-top:75px;text-align:right;" class="col-md-3">Allergies</label>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-5" style="overflow:scroll;overflow-x:hidden;min-height:200px;border:1px solid;">
                                                    <ul style="list-style-type: none;">
                                                        <li>Drugs-Penicillin</li>
                                                        <li>Drugs-Others</li>
                                                        <li>Animals</li>
                                                        <li>Food</li>
                                                        <li>Oinments</li>
                                                        <li>Plant</li>
                                                        <li>Sprays</li>
                                                        <li>Others</li>
                                                        <li>No Allergies</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-2">
                                                    <button style="margin-top:63px;margin-bottom:4px;margin-left:20px; width:78px;" type="button" class="btn btn-success btn-sm" id="btnAdd">Add  &nbsp;<i class="fa fa-chevron-right" style="font-size:12px;"></i></button><br />
                                                    <button style="margin-left:20px;" type="button" class="btn btn-danger btn-sm" id="btnRemove"><i class="fa fa-chevron-left" style="font-size:12px;"></i>&nbsp; Remove</button>
                                                </div>
                                                <div class="col-md-5" style="overflow:scroll;overflow-x:hidden;min-height:200px;border:1px solid;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-sm" id="btnSave">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
        function getDiseaseDrpdown() {
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: baseURL + '/api/Disease/GetAllDiseaseForDropdown',
                dataType: "json",
                type: 'get',
                success: function (res) {
                    $("#diseaseId").empty();
                    let option = ``;
                    $.each(res, function (key, val) {
                        option += `<option value="${val.value}">${val.text}</option>`;
                    });
                    $("#diseaseId").append(option);
                }
            });
        };
        function getEpilepsyDrpdown() {
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: baseURL + '/api/Disease/GetEpilepsyDropdown',
                dataType: "json",
                type: 'get',
                success: function (res) {
                    $("#epilepsy").empty();
                    let option = ``;
                    $.each(res, function (key, val) {
                        option += `<option value="${val.value}">${val.text}</option>`;
                    });
                    $("#epilepsy").append(option);
                }
            });
        };
        $(document).on("click", "#btnAdd", function () {
            $("#modalPatient #modalTitle").text("Create Patient");
            $("#modalPatient #btnSave").text("Save changes");
            $("#frmPatient").trigger("reset");
            getDiseaseDrpdown();
            getEpilepsyDrpdown();
            $("#modalPatient").modal("show");
        });
    </script>
}